.button.button_type_add {
  background: transparent url(../images/Add\ button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border-color: #ffff;
  border-style: solid;
  margin-left: auto;
  cursor: pointer;
}

.button.button_type_add:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.button.button_type_edit {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border-width: 1px;
  grid-area: button;
  border-color: #ffff;
  border-style: solid;
  margin-top: 15px;
  margin-left: 4px;
  cursor: pointer;
}

.button.button_type_edit:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}