.header {
  margin-top: 45px;
  max-width: 880px;
  max-height: 74px;
  border-bottom: 1px solid rgb(84 84 84 / .7);
  padding-bottom: 35px;
}


@media screen and (max-width:480px) {
  .header__title {
    margin-left: 27px;
  }

}

@media screen and (max-width:464px) {
  .header__title {
    margin-left: 27px;
    max-width: 126px;
    max-height: 24px;
  }
}