.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.modal__modal-opened {
  visibility: visible;
}
.modal__container {
  background-color: #ffffff;
  border: 1px;
  border-radius: 10px;
  margin: auto;
  border-color: #000000;
  width: 430px;
  height: 330px;
  position: relative;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  margin-top: 0px;
  padding-left: 36px;
  padding-right: 0px;
  padding-top: 34px;
  padding-bottom: 0px;
}

.modal__close {
  background-image: url("../images/Close\ Icon.svg");
  cursor: pointer;
  position: absolute;
  background-size: contain;
  border: none;
  background-color: transparent;
  outline: none;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  top: -45px;
  right: -45px;
}

.modal__close:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 0px;
  padding-bottom: 36.51px;
}

.modal__button {
  margin-top: 48px;
  width: 358px;
  height: 50.15px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
}

.modal__button:hover {
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.modal__form-fieldset--title {
  border-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 16.94px;
}
.modal__form-fieldset--description {
  border-style: none;
  padding-top: 29.74px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.modal__form-fieldset {
  margin: 0;
  padding-left: 0px;
  border-bottom: 1px solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
}

@media screen and (max-width: 523px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
    align-self: center;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -30px;
    right: -30px;
  }

  .modal__form-fieldset {
    width: 238px;
    align-self: center;
  }
}

@media screen and (max-width: 339px) {
  .modal__close {
    top: -45px;
    right: -2px;
  }
}
