.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.2s ease;
}

.card__image:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 219px;
  margin: 0px;
}

.card__delete-button {
  background: transparent url("../images/Trash.svg") center no-repeat;
  width: 18px;
  height: 19.3px;
  top: 30px;
  left: 250px;
  border-style: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.card__like-button {
  background: transparent url("../images/like-button.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border-style: hidden;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/Union.svg);
}
.card__like-button:hover {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
